@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Titillium+Web&display=swap');

*{
  padding: 0px;
  margin: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #1e54e9; 
  color: #ffffff; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.nameGroup{
  display: flex;
  justify-content: flex-start;
}

.name, .last-name{
  font-family: 'Titillium Web', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #fefefe;
}

