@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #131416;
  height: 100%;
}

p,
h3,
.grid li,
span {
  font-family: "Poppins", sans-serif;
  color: #cdd2df;
}

li {
  list-style: none;
}

.navList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.lista-menu {
  display: flex;
  column-gap: 2rem;
}

.navList a,
.icon {
  color: #cdd2df;
  text-decoration: none;
}

.name {
  font-size: 16px;
}
/* PAGINA SOBRE */
.content-about {
  display: flex;
  color: #cdd2df;
}

.content-text {
  padding-left: 20px;
}

.section {
  padding: 6rem 0px 2rem;
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.apresentacao {
  font-family: "Poppins", sans-serif;
}

.h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

.paragrafo {
  width: 70%;
}

.socialNetwork {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
}

.btnContato {
  margin-top: 30px;
  background-color: #263cc9;
  border: 1px solid #263cc9;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.btnContato a {
  display: flex;
  gap: 0.5rem;
  color: #cdd2df;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.icons {
  font-size: 1.2rem;
  display: flex;
}

/* tela language/hability */

.title {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  color: #cdd2df;
  font-size: 2rem;
  margin-top: 1.5rem;
}

.containersLanguages {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.container {
  background-color: rgb(38, 40, 43);
  box-shadow: rgba(60, 60, 60, 0.15) 0px 0px 2px 2px;
  border-radius: 2%;
  padding: 32px;
}

.container-project {
  background-color: rgb(38, 40, 43);
  box-shadow: rgba(60, 60, 60, 0.15) 0px 0px 2px 2px;
  border-radius: 2%;
  padding: 16px;
}

.container-project:hover {
  transform: scale(1.1);
}

.container-trabalho {
  background-color: rgb(38, 40, 43);
  box-shadow: rgba(60, 60, 60, 0.15) 0px 0px 2px 2px;
  border-radius: 2%;
  padding: 2rem;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.grid li:hover {
  color: #263cc9;
  transform: scale(1.1);
}

.grid {
  text-align: center;
}

.grid li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid li svg {
  font-size: 1.5rem;
}

.container p {
  font-size: 1rem;
  margin-top: 10px;
  font-weight: 400;
}

.listLanguage {
  grid-template-columns: repeat(7, 1fr);
  gap: 2.5rem;
  display: grid;
}

.title-language {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
}

/* estilo para projetos */

.containerProjects {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  gap: 35px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.title-project {
  text-align: left;
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .lista-menu {
    display: flex;
    margin-top: auto;
    font-size: 0.8rem;
    margin-left: auto;
    padding: 10px;
    flex-direction: column;
    align-items: flex-end;
  }

  .listLanguage {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    display: grid;
  }

  .container {
    height: 100%;
  }

  .parte-sobre {
    padding: 1rem;
  }

  .sobre p {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .container-skills h3 {
    font-size: 1rem;
  }
  .container-skills > .fundo > p {
    font-size: 14px;
  }

  p {
    font-size: 16px;
  }

  .nav a {
    font-size: 12px;
  }

  span {
    font-size: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .parte-sobre {
    padding: 0.5rem;
  }

  .sobre p {
    font-size: 1rem;
  }

  div .messageBox {
    width: 300px;
  }
}
